<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/paytm?createDatabaseIfNotExist=true</property>
        <property name="connection.username">RenukaPrasada</property>
        <property name="connection.password">Arpithavs@24</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
       <mapping class="com.evry.dto.User"/>
    </session-factory>
</hibernate-configuration>